.list {
  padding: 0px;
  margin: 0px;
  li {
    min-width: 150px;
    cursor: pointer;
    &.--height-70 {
      height: 70px;
    }
  }
  &--no-bullet {
   li {
     text-decoration: none;
     list-style-type: none;
   } 
  }
}